@using Shopping.Models.DataModel
@using Shopping.Areas.Admin.Models.DAO
@model List<int>
@{
    ViewBag.Title = "Role";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    DataShop db = new DataShop();
    List<Role> roles = db.Roles.ToList();
    int Id = (int)ViewBag.ugId;
    List<String> lst = AdminRoleDAO.Instance.GetListRoleName(Model);
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.chk-roleId').change(function () {
            $.ajax({
                type: "POST",
                url: "/Admin/UserGroupRole/SetRoleForUserGroup",
                data: {
                    uGroupId: '@Id',
                    roleId: $(this).val(),
                    isChecked: $(this).is(":checked")
                },
                success: function (data) {
                    alert(data);
                }
            });
        });
    });
</script>

<form>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Sửa sản phẩm</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class=" panel-body">
                        <div class="row">
                            <div class="col-lg-8">
                                @for (int i = 0; i < roles.Count(); i++)
                                {
                                    if (lst.Contains(roles[i].Name))
                                    {
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="@roles[i].Id" checked disabled class="chk-roleId" />@roles[i].Name
                                                </label>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="@roles[i].Id" class="chk-roleId" />@roles[i].Name
                                                </label>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
