@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_Layout.cshtml";
}
<!--BANNER-->
<div class="banner">
    <div class="container">
        <section class="rw-wrapper">
            <h1 class="rw-sentence">
                <span>Advanced Web Project</span>
                <div class="rw-words rw-words-1">
                    <span>Ngày thi: 04/01/2016</span>
                    <span>Ngày thi: 04/01/2016</span>
                    <span>Ngày thi: 04/01/2016</span>
                </div>
                <div class="rw-words rw-words-2">
                    <span>Webservice</span>
                    <span>Phân quyền</span>
                    <span>JavaScript</span>
                </div>
            </h1>
        </section>
    </div>
</div>

<div class="content">
    <div class="container">
        @Html.Action("ProductIndex", "Product")
    </div>
</div>

